
@model BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity

<ul class="course">
       @foreach (var course in Model.UpcomingCourses)
        {
            <li>
                @if (!course.IsCanceled)
                {
               <div class="date">
                   <div class="month">
                       @course.DateTime.ToString("MM")
                   </div>
                   <div class="day">
                       @course.DateTime.ToString("dd")
                   </div>
               </div>
               <div class="details">
                   <span class="lecturer">
                       <b>@course.Lecturer.Name</b>
                       @if (Model.ShowAction)
                       {
                           if (Model.CheckFollow(course.LecturerID, User.Identity.GetUserId()))
                           {
                               <button class="btn btn-link btn-sm js-toggle-un-follow" data-user-id="@course.LecturerID">Following</button>
                           }
                           else
                           {
                               <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@course.LecturerID">Follow</button>
                           }

                       }

                   </span>
                   <span class="category">
                       <b>@course.Category.Name</b>
                       @if (Model.ShowAction)
                       {
                           if (Model.CheckAttend(course.Id, User.Identity.GetUserId()))
                           {
                               <button data-course-id="@course.Id" class="btn btn-success btn-sm js-toggle-un-attendance"  >Going</button>
                           }
                           else
                           {
                               <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                           }

                       }

                   </span>
                   
               </div>
                }
            </li>
        }
</ul>

@section scripts
{
    <script>
        $(document).ready(function(){
            CoursesController.init();

            $(".js-toggle-follow").click(function(e){
                var button = $(e.target);
                $.post("/api/followings",{ followeeId: button.attr("data-user-id")})
                    .done(function(){
                        button.text("Following");
                    })
                    .fail(function(){
                        alert("Bạn đã theo dõi !");
                    });
            });
        });
        $(document).ready(function () {
            $(".js-toggle-un-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/unfollow", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .removeClass("btn-success")
                            .addClass("btn-default")
                            .text("Follow");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-un-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/unattend", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-success")
                            .addClass("btn-default")
                            .text("Goings");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

        });
                
    </script>
}
