
@model BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            @if (!course.IsCanceled)
            {
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @if (Model.ShowAction)
                        {
                            <b>@course.Lecturer.Name</b>
                            <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@course.LecturerID">Follow</button>
                        }

                    </span>
                    <span class="category">
                        @if (Model.ShowAction)
                        {
                            <b>@course.Category.Name</b>
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                        }

                    </span>

                </div>
            }
        </li>
    }
</ul>

@section scripts
    {
    <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Somthing failed !");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Somthing failed !");
                        });
                });
            });
    </script>
}

